{
  "extends": "airbnb-base",
  "rules": {
    // "no-useless-disable": "error", // Раскомментировать перед Пулл-реквестом
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ]
  }
}